<i class="fa fa-search" aria-hidden="true"></i>

<input id="typeahead-http" type="text" class="form-control"
  #input
  [class.is-invalid]="searchFailed" 
  [(ngModel)]="selected"
  [ngbTypeahead]="search"
  (selectItem)="onSelect($event, input)"
  [inputFormatter]="formatter"
  [resultTemplate]="resTemplate"
  placeholder="{{ 'gateApp.dictSourceType.searchfield.placeholder' | translate }}" />
<br>
<span *ngFor="let item of getValue();let idx = index">
  <button type="button" (click)="onRemoveItem(idx)" class="btn btn-primary btn-sm">
    <i class="fa fa-minus-square" aria-hidden="true"></i>
    {{item.name}}
  </button>
</span>
<span *ngIf="searching" jhiTranslate="gateApp.dictSourceType.searchfield.searching">Searching...</span>
<div class="invalid-feedback" *ngIf="searchFailed" jhiTranslate="gateApp.dictSourceType.searchfield.notFound">Sorry, not found.</div>

<ng-template #resTemplate let-item="result" let-tm="term">
  {{item.name}}
</ng-template>
