<div>
    <h2>
        <span jhiTranslate="gateApp.user.home.title">Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-user" [routerLink]="['/', { outlets: { popup: ['user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.user.home.createLabel">
            Create new User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.user.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gateApp.user.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nickname"><span jhiTranslate="gateApp.user.nickname">Nickname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar"><span jhiTranslate="gateApp.user.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="company"><span jhiTranslate="gateApp.user.company">Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="job_title"><span jhiTranslate="gateApp.user.job_title">Job Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="company_idName"><span jhiTranslate="gateApp.user.company_id">Company Id</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users ;trackBy: trackId">
                <td><a [routerLink]="['../user', user.id ]">{{user.id}}</a></td>
                <td>{{user.name}}</td>
                <td>{{user.nickname}}</td>
                <td>
                    <a *ngIf="user.avatar" (click)="openFile(user.avatarContentType, user.avatar)">
                        <img [src]="'data:' + user.avatarContentType + ';base64,' + user.avatar" style="max-height: 30px;" alt="user image"/>
                    </a>
                    <span *ngIf="user.avatar">{{user.avatarContentType}}, {{byteSize(user.avatar)}}</span>
                </td>
                <td>{{user.company}}</td>
                <td>{{user.job_title}}</td>
                <td>
                    <div *ngIf="user.company_idId">
                        <a [routerLink]="['../company', user.company_idId  ]" >{{user.company_idName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user', user.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user/'+ user.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user/'+ user.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="users && users.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
