
<div *ngIf="area_type">
    <h2><span jhiTranslate="gateApp.area_type.detail.title">Area Type</span> {{area_type.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.area_type.name">Name</span></dt>
        <dd>
            <span>{{area_type.name}}</span>
        </dd>
        <dt><span jhiTranslate="gateApp.area_type.valid">Valid</span></dt>
        <dd>
            <span jhiTranslate="{{'gateApp.Valid.' + area_type.valid}}">{{area_type.valid}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'area-type/'+ area_type.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
