<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDictEn2CnLabel" jhiTranslate="gateApp.dictEn2Cn.home.createOrEditLabel">Create or edit a Dict En 2 Cn</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dictEn2Cn.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dictEn2Cn.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.english" for="field_english">English</label>
            <input type="text" class="form-control" name="english" id="field_english"
                [(ngModel)]="dictEn2Cn.english" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.chinese" for="field_chinese">Chinese</label>
            <input type="text" class="form-control" name="chinese" id="field_chinese"
                [(ngModel)]="dictEn2Cn.chinese" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.hits" for="field_hits">Hits</label>
            <input type="number" class="form-control" name="hits" id="field_hits"
                [(ngModel)]="dictEn2Cn.hits" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.enable" for="field_enable">Enable</label>
            <select class="form-control" name="enable" [(ngModel)]="dictEn2Cn.enable" id="field_enable" >
                <option value="X">{{'gateApp.Enabled.X' | translate}}</option>
                <option value="Y">{{'gateApp.Enabled.Y' | translate}}</option>
                <option value="N">{{'gateApp.Enabled.N' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.modified_date" for="field_modified_date">Modified Date</label>
            <div class="d-flex">
                <input id="field_modified_date" type="datetime-local" class="form-control" name="modified_date" [(ngModel)]="dictEn2Cn.modified_date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.consumed_date" for="field_consumed_date">Consumed Date</label>
            <div class="d-flex">
                <input id="field_consumed_date" type="datetime-local" class="form-control" name="consumed_date" [(ngModel)]="dictEn2Cn.consumed_date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.priority" for="field_priority">Priority</label>
            <input type="number" class="form-control" name="priority" id="field_priority"
                [(ngModel)]="dictEn2Cn.priority" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.regex" for="field_regex">Regex</label>
            <input type="number" class="form-control" name="regex" id="field_regex"
                [(ngModel)]="dictEn2Cn.regex" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gateApp.dictEn2Cn.source" for="field_source">Source</label>
            <select class="form-control" id="field_source" name="source" [(ngModel)]="dictEn2Cn.sourceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dictSourceOption.id" *ngFor="let dictSourceOption of dictsources; trackBy: trackDictSourceById">{{dictSourceOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
