
<div *ngIf="projFile2Dict">
    <h2><span jhiTranslate="gateApp.projFile2Dict.detail.title">Proj File 2 Dict</span> {{projFile2Dict.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gateApp.projFile2Dict.projFiles">Proj Files</span></dt>
        <dd>
            <div *ngIf="projFile2Dict.projFilesId">
                <a [routerLink]="['/proj-files', projFile2Dict.projFilesId]">{{projFile2Dict.projFilesName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gateApp.projFile2Dict.dict">Dict</span></dt>
        <dd>
            <div *ngIf="projFile2Dict.dictId">
                <a [routerLink]="['/dict-en-2-cn', projFile2Dict.dictId]">{{projFile2Dict.dictEnglish}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'proj-file-2-dict/'+ projFile2Dict.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
