<div>
    <h2>
        <span jhiTranslate="gateApp.projFile2Dict.home.title">Proj File 2 Dicts</span>
        <button class="btn btn-primary float-right jh-create-entity create-proj-file-2-dict" [routerLink]="['/', { outlets: { popup: ['proj-file-2-dict-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gateApp.projFile2Dict.home.createLabel">
            Create new Proj File 2 Dict
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gateApp.projFile2Dict.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projFile2Dicts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="projFilesName"><span jhiTranslate="gateApp.projFile2Dict.projFiles">Proj Files</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dictEnglish"><span jhiTranslate="gateApp.projFile2Dict.dict">Dict</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projFile2Dict of projFile2Dicts ;trackBy: trackId">
                <td><a [routerLink]="['../proj-file-2-dict', projFile2Dict.id ]">{{projFile2Dict.id}}</a></td>
                <td>
                    <div *ngIf="projFile2Dict.projFilesId">
                        <a [routerLink]="['../proj-files', projFile2Dict.projFilesId  ]" >{{projFile2Dict.projFilesName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projFile2Dict.dictId">
                        <a [routerLink]="['../dict-en-2-cn', projFile2Dict.dictId  ]" >{{projFile2Dict.dictEnglish}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../proj-file-2-dict', projFile2Dict.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proj-file-2-dict/'+ projFile2Dict.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proj-file-2-dict/'+ projFile2Dict.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="projFile2Dicts && projFile2Dicts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
